*.7z
*.aux
*.bat
*.bcf
*.cls
*.glo
*.gls
*.gz
*.hd
*.idx
*.ilg
*.ind
*.log
*.out
*.rar
*.sty
*.sublime-project
*.sublime-workspace
*.synctex
*.synctex(busy)
*.toc
*.txt
*.xml
*.zip
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.xdv
.DS_Store
build
test
*.pdf
!xdulogo.pdf
texcount.pl
.vscode/
